buildroot/output/
buildroot/dl/

*.img
*.iso
*.qcow2
*.raw
*.ext2
*.ext4
*.squashfs
*.tar
*.tar.gz
*.cpio

kernel/.config
kernel/System.map
kernel/vmlinux
kernel/vmlinuz
kernel/arch/*/boot/Image
kernel/arch/*/boot/bzImage

build/
dist/
out/

*.log
*.tmp
*.swp
*~

.vscode/
.idea/

.DS_Store
Thumbs.db

.env
.env.*
*.pem
*.key

node_modules/
npm-debug.log*
target/
